/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

$calc-width: 800px;

.wp-block-wcw-block-calculator {
	background: white;
	margin: 0.5em auto;
	padding: 1em;
}

.wp-block-wcw-block-calculator h2.calculator-title {
	background: black;
	color: white;
	font-size: 1.25em;
	padding: 1em;
}

.calculator-section {
	margin-bottom: 3em;
}

.calculator-section .calculator-left h3 {
	text-transform: uppercase;
}

.calculator-right .calculator-field-set label {
	text-transform: uppercase;
}

.calculator-right .calculator-field-set label,
.calculator-right .calculator-field-set input {
	display: inline-block;
	width: 100%;
}

.calculator-field-set input[data-operation="subtraction"] {
	&:active,
	&:focus {
		border-right: 6px solid green;
	}
}

.calculator-field-set input[data-operation="addition"] {
	&:active,
	&:focus {
		border-right: 6px solid red;
	}
}

.calculator-section .calculator-right .calculator-field-hint,
.calculator-section .section-total-note {
	font-style: italic;
	font-size: 0.75em;
}

.calculator-section .section-total {
	background: whitesmoke;
	margin: 1em 0;
	padding: 1em;
}

.calculator-section .section-total label {
	text-transform: uppercase;
}

.calculator-section .section-total-note {
	grid-column: span 2;
}

.calculator-total {
	background: azure;

	display: flex;
	font-size: 1.5em;
	margin-top: 1em;
	padding: 0.5em;
}
.calculator-total span {
	flex: 1;
}

.calculator-total span:last-child {
	background: white;
	border: 1px solid black;
	border-radius: 6px;
	color: black;
	text-shadow: none;
}

@media (min-width: $calc-width) {
	.wp-block-wcw-block-calculator {
		border: 1px solid whitesmoke;
		border-radius: 6px;
		max-width: $calc-width;
	}

	.wp-block-wcw-block-calculator h2.calculator-title {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		display: inline;
		padding: 0 1em;
	}

	.wp-block-wcw-block-calculator .calculator-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: minmax(20vh, min-content);
		margin: 0;
	}

	.wp-block-wcw-block-calculator .calculator-section:first-of-type {
		border-top: 1px solid black;
		padding-top: 0.5em;
	}

	.calculator-section .calculator-left {
		border-right: 1px solid black;
	}
	.calculator-section .calculator-left h3 {
		font-size: 1em;
		margin: 0;
		padding: 0;
	}

	.calculator-section .calculator-right {
		padding-left: 0.5em;
	}

	.calculator-section .section-total {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column: span 2;
		padding: 1em;
	}
}
